<!DOCTYPE html>
<html lang="en">

<header>
    <button class="btn-volver-gestion">Volver</button>
</header>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Categorias</title>
    <link type="text/css" rel="stylesheet" href="/css/index.css">
</head>

<body>
    <h1>Lista de Categorias</h1>

    <!-- Contenedor principal -->
    <section class="libros-section">
        <div class="libros-container">
            {{#each categorias}}
            <div class="libros-item">
                <label for="text">Categoria:</label>
                <p><strong>_id:</strong> {{_id}}</p>
                <p><strong>nombre:</strong> {{nombre}}</p>
                <br>
                <button class="btn-delete-categoria" data-id-categoria={{_id}}>Eliminar Categoria</button>

            </div>
            {{/each}}
        </div>
    </section>

</body>
    <script src="/js/categoriaindex.js"></script>

</html>