<header>
    <button class="btn-volver-libro">Volver</button>
</header>

<body>
    <!-- Sección de Formularios -->
    <section class="forms-section">
        <h2 class="toggle-form" data-target="formCP">Cargar Libro</h2>
        <form id="formC" class="form" method="POST" action="/api/libros/">
            <input type="text" id="titulo" class="input" placeholder="Titulo" name="titulo">
            <input type="text" id="descripcion" class="input" placeholder="descripcion" name="descripcion">
            <select id="autor" name="autor">
                {{#each autores}}
                <option value="{{nombre}}">{{nombre}}</option>
                {{/each}}               
            </select>
            <input type="text" id="precio" class="input" placeholder="precio" name="precio">
            <input type="text" id="cantidad" class="input" placeholder="cantidad" name="cantidad">
            <select id="categorias" name="categorias" multiple size="5">
                {{#each categorias}}
                <option value="{{nombre}}">{{nombre}}</option>
                {{/each}}
            </select>
            <button type="submit" class="buttonCrearLibro">Crear</button>
        </form>
    </section>
</body>

<script src="/js/libroindex.js"></script>