<header>
    <button class="btn-volver-libro">Volver</button>
</header>
<body>
            <!-- Sección de Formularios -->
            <section class="forms-section">
                <h2 class="toggle-form" data-target="formCP">Cargar Categoria</h2>
                <form id="formC" class="form" method="POST" action="/api/categorias/">
                    <input type="text" id="Nombre" class="input" placeholder="Nombre" name="nombre">
                    <button type="submit" class="buttonCrearCategoria">Crear</button>
                </form>
            </section>

</body>

<script src="/js/categoriaindex.js"></script>
