<header>
    <button class="btn-volver-libro">Volver</button>
</header>
<body>
            <!-- Sección de Formularios -->
            <section class="forms-section">
                <h2 class="toggle-form" data-target="formCP">Cargar Autor</h2>
                <form id="formCA" class="form" method="POST" action="/api/autores/">
                    <input type="text" id="Nombre" class="input" placeholder="Nombre" name="nombre">
                    <input type="text" id="Edad" class="input" placeholder="Edad" name="edad">
                    <button type="submit" class="buttonCrearAutor">Crear</button>
                </form>
            </section>

</body>

<script src="/js/autorindex.js"></script>