<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/index.css">
</head>

<header class="container mt-3">
    <button class="btn btn-secondary btn-volver-libro">Volver</button>
</header>

<body class="container mt-4">
    <!-- Sección de Formularios -->
    <section class="forms-section">
        <h2 class="mb-3">Cargar Libro</h2>
        <form id="formCALibro" class="form" method="POST" action="/api/libros/">
            <div class="mb-3">
                <input type="text" id="titulo" class="form-control" placeholder="Título" name="titulo">
            </div>
            <div class="mb-3">
                <input type="text" id="descripcion" class="form-control" placeholder="Descripción" name="descripcion">
            </div>
            <div class="mb-3">
                <label for="autor" class="form-label">Autor</label>
                <select id="autor" name="autor" class="form-select">
                    {{#each autores}}
                    <option value="{{nombre}}">{{nombre}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="mb-3">
                <input type="text" id="precio" class="form-control" placeholder="Precio" name="precio">
            </div>
            <div class="mb-3">
                <input type="text" id="cantidad" class="form-control" placeholder="Cantidad" name="cantidad">
            </div>
            <div class="mb-3">
                <label for="categorias" class="form-label">Categorías</label>
                <select id="categorias" name="categorias" class="form-select" multiple size="5">
                    {{#each categorias}}
                    <option value="{{nombre}}">{{nombre}}</option>
                    {{/each}}
                </select>
            </div>
            <button id="idPrueba" type="submit" class="btn btn-primary buttonCrearLibro">Crear</button>
        </form>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/libroindex2.js"></script>
</body>