<head>
        <link  type="text/css" rel="stylesheet" href="/css/index.css">
</head>
<body>
    <!-- Contenedor principal -->
    <div class="main-container">

        <h2>Gestion de la compra online</h2>

        <!-- Sección de Botones (Autor y Categorías) -->
        <div class="botones-container">
            <button class="btn-createcategoria">Crear Categorías</button>
            <button class="btn-categorias">Categorías</button>
            <button class="btn-createautor">Crear Autor</button>
            <button class="btn-autor">Autor</button>
            <button class="btn-createlibro">Crear Libro</button>
            <button class="btn-libro">Libros</button>
            <button class="btn-carrito">Carritos</button>
        </div>
        
</body>

<script src="/js/Gestion.js"></script>