<link rel="stylesheet" href="/css/index.css">

<body>
    <!-- Contenedor principal -->
    <div class="main-container">

        <section class="usuarios-section">
               <h2 class="toggle-form" data-target="formU">Validar Usuario</h2>
                <form id="formCAS" class="form" method="post" action="/api/usuarios/perfil">
                    <input type="text" id="U" class="inputU" placeholder="Usurio" name="usuario">
                    <input type="text" id="Cu" class="inputC" placeholder="contraseña" name="password">
                    <button type="submit" class="buttonUsuario">Entrar</button>
                </form>
        </section>
        <br>
        <section>
                <button type="button" class="buttonCrearUsuario">Crear</button>
        </section>
    </div>
</body>

<script src="/js/usuarioindex.js"></script>

